.content {
    width: 100%;
    text-align: center;
}

.content p:hover {
    color: blue;
}

.content h1 {
    margin-top: 50px;
}

p {
    width: 120px;
}

.content p:hover,
.content h1:hover {
    color: blue;
}

.box {
    background-color: blue;
    border-radius: 20px;
    margin: auto;
    width: 100px;
    height: 100px;
}

.box:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
}

.box:not(:hover) {
  animation-name: rotate-out;
  animation-duration: 0.7s;
}

