.content {
    width: 100%;
    text-align: center;
}

.content p:hover .not-used {
    color: blue;
}

#not-used,
.content h1 {
    margin-top: 50px;
}

input {
    width: 100px;
}

p input:hover {
    width: 120px;
}

.content p:hover,
.content h1:hover, #not-used {
    color: blue;
}

.not-used {
    color: cyan;
}

#not-used {
    background-color: cyan;
}

.hover-animation:hover {
    animation-name: animate;
    animation-duration: 2s;
    background: blue;
}

@keyframes animate {
    from {
        transform: transformX(0%);
    }
    to {
        transform: transformX(100%);
    }
}

.box {
    background-color: blue;
    border-radius: 20px;
    margin: auto;
    width: 100px;
    height: 100px;
}

.box:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
}

.box:not(:hover) {
  animation-name: rotate-out;
  animation-duration: 0.7s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-out {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}